// Place all the styles related to the Yelps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
   #map {
     width: 100%;
     height: 400px;
     border: solid #00c5ec 3px;
   }

   .landing_title {
     padding-top: 350px;
   }

   .landing {
    background: image-url("b.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;

    .intro{
      padding-bottom: 20px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    h1{
      color: white;
      font-size: 30px;
    }
    .login-btn {
      font-size: 15px;
    }
  }

   body {
     background-color: #e1e8f0;
     font-family: 'Shadows Into Light Two', cursive;
     h1, h2 {
      color: #00c5ec;
     }
     h3 {
       color: #9068be;
     }
     p {
       color: #9068be;
       font-size: 12px;
     }
   }
   .navbar {
      margin-bottom: 10px;
      font-family: 'Shadows Into Light Two', cursive;
      font-size: 25px;
      padding: 10px;
      background-color: #00c5ec;
    .navbar-header a {
        color: white;
        font-weight: bolder;
        height: 100px;
    }
    .navbar-header a:hover {
          color: #9068be;
    }
    #category.form-control, #city.form-control {
      border-color: solid #9068be;
      font-size: 15px;
      background-color: #edd5d1;
      color: #555555;
    }
    .btn.btn-default {
      color: #555555;
      border-color: solid  #00c5ec;
      font-size: 15px;
      background-color: #edd5d1;
    }
    .btn.btn-default:hover {
      color: #9068be;
    }
    .navbar-nav{
      padding-top: 10px;
    }
    .navbar-nav li a{
      color: white;
      font-weight: bolder;
    }
    .navbar-nav li a:hover {
      color: #9068be;
    }
    .form-inline {
      padding-top: 6px;
      font-size: 12px;
      padding-left: 20px;
    }
  }

  .doginfo {
    font-family: 'Shadows Into Light Two', cursive;
  }

  .modal-content {
    background-color: #e1e8f0;
    font-family: 'Shadows Into Light Two', cursive;
    color: #9068be;
    font-size: 20px;
  }
  .modal-body h3{
    text-align: center;
  }
  .login-btn {
    background-color: #00c5ec;
    color: white;
    font-size: 15px;
  }
  .login-btn:hover {
    background-color: #9068be;
    color: white;
  }

  .media {
    background-color: lighten(#6ed3cf, 35%);
    padding: 10px;
    height: 300px;
    margin-bottom: 15px;
    text-align: left;
    h2 {
      text-align: center;
    }
  }

  .media-saved-location{
    background-color: lighten(#6ed3cf, 35%);
    padding: 10px;
    height: 400px;
    margin-bottom: 15px;
    text-align: left;
    h2 {
      text-align: center;
    }

  }

  .media-object {
    width: 100px;
  }

  .results_found {
    text-align: center;
  }

  .save-btn {
    background-color: #00c5ec;
    color: white;
    font-size: 10px;
  }

  @media (max-width: 800px) {
    .navbar {
       font-size: 15px;
       width: 100%;
       height: 200px;
       background-color: red;
       display: inline-block;
       text-align: center;
     #category.form-control, #city.form-control {
       font-size: 10px;
       display: inline-block;
       text-align: center;
     }
     .btn.btn-default {
       font-size: 10px;
       display: inline-block;
       text-align: center;
     }
     .form-inline {
       font-size: 10px;
       display: inline-block;
       text-align: center;
     }
    }

  }
