// Place all the styles related to the Yelps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
   #map {
     width: 90%;
     margin: auto;
     height: 400px;
     border: solid #00c5ec 3px;
     margin-top: 30px;
   }

   #results {
     padding-top: 85px;
   }


  .welcome-email{
    //  border: 1px solid #00c5ec;
     line-height: 25px;
   }

   .email-button{
     background-color: #00c5ec;
   }


   .background-pic {
    background: image-url("b.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    margin-bottom: 20px;
    opacity: 0.9;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

    .landing {
      height: 100%;
      padding-top: 10%;
      text-align: center;
      position: relative;
      z-index: 1;
    .intro{
      padding-bottom: 25px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-family: 'Shadows Into Light Two', cursive;
    }
    h1{
      color: #00c5ec;
      font-size: 55px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      // text-transform: uppercase;
    }
    h2 {
      color: white;
      font-family: 'Shadows Into Light Two';
      font-size: 35px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  }

   body {
     background-color: #e1e8f0;
     h1{
      font-family: 'Shadows Into Light Two', cursive;

     }
      h2 {
      color: #00c5ec;
     }
     h2 a {
        color: #00c5ec;
        text-shadow: none;
     }
     h2 a:hover {
        color: #9068be;
     }
     h3 {
       color: #9068be;
     }
     p {
       color: #9068be;
       font-size: 16px;
       font-family: 'Roboto', sans-serif;

     }
   }

   .navbar {
      margin-bottom: 25px;
      font-family: 'Shadows Into Light Two', cursive;
      font-size: 25px;
      padding: 10px;
      background-color: #00c5ec;
    .navbar-header a {
        color: white;
        font-weight: bolder;
        font-size: 25px;
    }
    .navbar-header a:hover {
          color: #9068be;
    }
    #category.form-control, #city.form-control {
      border-color: solid #9068be;
      font-size: 18px;
      background-color: #edd5d1;
      color: #555555;
      margin-bottom: 10px;
      font-family: 'Open Sans', sans-serif;
    }
    .btn.btn-default {
      color: #555555;
      border-color: solid  #00c5ec;
      font-size: 20;
      background-color: #edd5d1;
      margin-top: -10px;
      font-family: 'Open Sans', sans-serif;

    }
    .btn.btn-default:hover {
      color: #9068be;
    }

    .navbar-nav li a{
      color: white;
      font-weight: bolder;
    }
    .navbar-nav li a:hover {
      color: #9068be;
    }
    .form-inline {
      padding-top: 6px;
      font-size: 12px;
      padding-left: 20px;
    }
  }

  .doginfo {
    font-family: 'Roboto', sans-serif;
  }

  .modal-content {
    background-color: #e1e8f0;
    font-family: 'Shadows Into Light Two', cursive;
    color: #9068be;
    font-size: 20px;
  }
  .modal-body h3{
    text-align: center;
  }

  .modal-header .close{
    color: #00c5ec;
    font-size:40px;
  }


  .login-btn {
    background-color: #00c5ec;
    color: white;
    font-size: 15px;
  }
  .login-btn:hover {
    background-color: #9068be;
    color: white;
  }

  .media {
    background-color: lighten(#6ed3cf, 35%);
    padding: 15px;
    height: 400px;
    margin-bottom: 35px;
    text-align: left;
    width: 90%;
    h2 {
      text-align: center;
    }
  }
  .reviews {
    font-size: 12px;
    color:  #00c5ec;
  }
  .reviews_address{
    font-size: 12px;
    color:  #9068be;
  }

  .media-saved-location{
    background-color: lighten(#6ed3cf, 35%);
    padding: 10px;
    // height: 400px;
    margin-bottom: 15px;
    text-align: left;
    h2 {
      text-align: center;
    }
  }

  .media-object {
    width: 100px;
  }

  .results_found {
    text-align: center;
  }

  .save-btn {
    background-color: #00c5ec;
    color: white;
    font-size: 16px;
    margin-top: 20px;
  }
  .save-btn:hover  {
    background-color: #9068be;
    color: white;
  }
  div #newtrip {
    text-align: center;
  }

  @media (max-width: 700px) {
    .navbar {
       background-color: #00c5ec;
    .nav li {
       text-align: center;
       border: solid white 1px;
       margin-bottom: 10px;
       }
     }
     .media {
       padding: 25px;
     }
  }
