<form class="form-inline">

    <select class="form-control">
      <option>Select Your Category</option>
      <option>Animal Shelters</option>
      <option>Dog Parks</option>
      <option>Dog Walkers</option>
      <option>Groomers</option>
      <option>Hotels</option>
      <option>Pet Sitting</option>
      <option>Pet Stores</option>
      <option>Pet Training</option>
      <option>Restaurants</option>
      <option>Vets</option>
    </select>

    <input type="text" class="form-control" placeholder="Pleae Enter Your City">  <button type="submit" class="btn btn-default">Submit</button>

</form>
