<div class="btn-group btn-group-justified login_btn" role="group" aria-label="...">
      <%= link_to "Log in", login_path, class: "btn btn-defaul"%>

  <!-- to create a new User -->
    <%= link_to "Sign up", signup_path,  class: "btn btn-defaul"%>
  </div>
